*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Poppins', sans-serif;
  }
  a{
    text-decoration: none;
    color: #555;
  }
  p{
    color: #555;
  }
  
  title{
    color: #E87A00;
    font-size: 54px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  .container{
   max-width: 1300px;
   margin: auto;
   padding: 25px;

    
  
  }

  .logo-centered {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }  

  /* Hero Banner */

  .hero{
    width: 100%;
    height: 800px;
    background-color:#FFF;
    position:relative;
    padding-top: 50px;
}

.hero .container{
    height: 100%;
    position: relative;
}

.hero .mid{
    padding-right:50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.hero .mid .desc{
   width: 40%;


}

.hero .mid .desc .cta {
    margin-top: 50px;

}

.hero .mid .desc .cta a{
   font-weight: 600;
   padding: 25px 50px;
   border: 2px solid #E87A00;
   border-radius: 25px;
   transition-duration: .3s;
   transition-property: background-color, border;
   text-decoration: none;
   color: #E87A00;
}


.hero .mid .desc .cta a:first-child{
  background-color: #E87A00;
  color: #FFF;
  margin: 0 15px 10px 0;

}

.hero .mid .desc .cta a:first-child:hover{
  background-color: #D89C60;
  border: 2px solid #D89C60;

}

.hero .mid img{

   width: 50%;
   height: 50%;
   padding-left: 10px;

}



.hero .mid .desc h2{
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700; 
    line-height: 64px;
    color: #E87A00;
    margin-bottom: 25px;
}

.hero .mid .desc p{
    color: #045174; 
    font-size: 18px; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 400; 
    line-height: 25.20px;
    margin-bottom: 50px;
}

  /* End Hero Banner */

  /*---------------------Page-----------------------*/
  
  .page-container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
  }
 
  .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #E87A00;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: 0.3s;
}

.btn a{
  color:#fff;
}
  
  .btn:hover {
    transform: translateY(-5px);
    background: #E87A00
  }
  
  
  
  /*---------------------Form-----------------------*/
  
  .login-container {
    width: 400px;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
  }
  .container .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
  }
  
  .logo{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  
  
  .container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
  }
  
  
  .container .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
  }
  
  .container .login-email .input-group input:focus, .container .login-email .input-group input:valid {
    border-color: #376189;
  }
  
  .container .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #376189;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
  }
  
  .container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #376189;
  }
  
  .login-register-text {
    color: #111;
    font-weight: 600;
  }
  
  .login-register-text a {
    text-decoration: none;
    color: #376189;
  }
  
  @media (max-width: 430px) {
    .container {
        width: 300px;
    }
    .container .login-social {
        display: block;
    }
    .container .login-social a {
        display: block;
    }
  }
  
  
  
  .hr{
    height:2px;
    border:none;  
    color:#376189; 
    background-color:#376189; 
    width:100%; 
    text-align:center; 
    margin: 0 auto;
   }
  
  
  
  
  .title{
    color: #E87A00;
    font-size: 54px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
  }

 /*-------Account progress--------------*/

.progress {
    color: #E87A00;
    font-size: 24px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
    margin-bottom: 20px;
    margin-left:120px;
}

.progress-bar-container {
    border: 1px solid #ccc;
    width: 80%; 
    height: 20px;
    margin: 0 auto; 
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}


.level-label {
    color: #E87A00;
    font-size: 18px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; /* Center the level labels within the container */
    max-width: 80%; /* Match the width of the progress container */
}


/* Challenge Section */
.challenge-dropdown {
    margin-top: 20px;
}

.challenge-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.challenge-card p {
    margin: 0;
}

.challenge-card p.complete {
    color: green;
}

.challenge-card p.incomplete {
    color: red;
}


/*Point History Table*/
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ccc;
  padding: 5px;
}

th {
  background-color: #eee;
}

.date-column {
width: 100px;
}

/* Leaderboard */
.logo-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.leaderboard .container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 2000px;
  margin: 0;
}

.leaderboard h2 {
  color: #E87A00;
  font-size: 54px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
}

.leaderboard table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}

.leaderboard th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #E87A00;
}

.leaderboard th {
  background-color: #f2f2f2;
}

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  